*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Fontes baixadas */

/* Fonte 1 (Moliga) */
@font-face {
    font-family: 'Moliga';
    src: url('/assets/fonts/Moliga\ DEMO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* Fonte 2 (The simple Life) */
@font-face {
    font-family: 'Simple';
    src: url('/assets/fonts/The\ Simple\ Life.otf') format('opentype');
     font-weight: normal;
    font-style: normal;
}


.body{
    font-family: 'Moliga';
}

/* =============================== */

/* --- HEADER  --- */
.header-container {
    background-color: #eace47;
    padding: 20px 0;
    width: 100%;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
}



.logo img {
    height: 40px; 
    width: auto;
    display: block;
}


/* Navbar */
.custom-navbar {
    background-color: #1a1a1a;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    height: 65px;
    border-radius: 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a {
    color: #FFF;
    text-align: center;
    font-family: "Moliga";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}

.nav-links a:hover {
    color: #f1d34d;
}

/* Ícones navbar */
.nav-icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.user-icon {
    color: #ffffff; 
    font-size: 20px;
    cursor: pointer;
}

.cart-icon {
    color: #ffffff; 
    font-size: 20px;
    cursor: pointer;
}


/* ==================================== */

/* --- SEÇÃO HERO --- */
.hero {
    background-color: #eace47;
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.hero-content h1 {
     
    font-size: clamp(50px, 8vw, 100px);
    color: white;
    margin-bottom: 15px;
    font-family: 'Moliga';
}

.hero-content p {
    
    /* Caixa */
    width: 774px;
    height: 59px;
    
    
    /* Letras */
    color: #FFF;
    font-family: "Moliga";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-content p strong{
    color: black;
}

/* Imagem do lado */

.hero-image {
    margin-top: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: 600px;
    border-radius: 12px;
    object-fit: cover;
}

.btn-saiba-mais {
    
    /* Botão */
    background-color: black;
    border-radius: 20px;
    border: none;
    width: 302px;
    height: 50px;
    
    
    /* Letras */
    color: #eace47;
    font-weight: 400;
    cursor: pointer;
    font-size: 36px;
    font-family: 'Moliga';
}



.btn-saiba-mais:hover{
    color: #FFF;
}

/* ================================== */

/* Seção sobre */
.about {
    background-color: black;
    color: white;
    padding: 100px 10%;
    overflow: hidden;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    flex: 1;
}

/* Titulo seção sobre */
.about-text h2 {

    width: 332px;
    height: 92px;

   color: #FFF;
    font-family: "Moliga";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
}

.about-text p {
    
    /* Caixa */
    width: 903px;
    height: 396px;
    
    
    /* Letras */
    color: #FFF;
    font-family: "Moliga";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-img img {
    width: 100%;
    max-width: 300px;

    position: relative;
    z-index: 2;
    
}




/* Estilo das Seções */

/* Seção novidades */
.news-section {
    background-color: #a71a22;
}

/* Seção catálogo */
.catalog-section {
    background-color: #eace47; 
}

.section-title {
    font-family: 'Moliga';
    font-size: 70px;
    letter-spacing: 2px;
}

/* ===================================== */

/* Seção novidades */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); 
}

/* Cards de Novidades */
.news-card {
    font-family: 'Moliga';
    background: white;
    padding: 20px;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-card img {
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 5px 5px 0px black;
}

.news-card h5 {
    color: #000;
    font-family: "Moliga";
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-hq {
    background-color: #ffff00;
    border-radius: 30px;
    width: 250px;
    height: 84px;
    
    
    color: #000;
    font-family: "Moliga";
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* =========================================== */

/* Seção do catálogo */

.titulo-cat{
    color: #211C1F;
    font-family: "Moliga";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
    
}

.subtitle{
    width: 1132px;
    color: #211C1F;
    text-align: center;
    font-family: "Simple";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Filtros */
.btn-filter {
    
    /* layout */
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background: #211C1F;

    /* Letras */
    color: #FFF;
    text-align: center;
    font-family: "Moliga";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-filter.active {
    outline: 3px solid #212529;
    outline-offset: 2px;
}

/* Cards do Catálogo */
.catalog-card {

    /* Layout */
    background: white;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Moliga';
}

.card-img-placeholder {
    background-color: #212529;
    aspect-ratio: 2/3;
    width: 100%;
    overflow: hidden;
}

.card-img-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.catalog-card .desc {
    color: #000;
    text-align: center;
    font-family: "Moliga";
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.icons-catalog i{
    color: black;
}


/* ================= RESPONSIVIDADE ================= */


/* ===== TABLETS ===== */
@media (max-width: 1024px) {

    .custom-navbar {
        padding: 0 20px;
    }

    .nav-links {
        gap: 20px;
    }

    /* HERO */
    .hero {
        height: auto;
        padding: 60px 8%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        gap: 40px;
    }

    .hero-content h1 {
        font-size: clamp(40px, 7vw, 70px);
    }

    .hero-content p {
        max-width: 100%;
        margin: 0 auto 25px;
        font-size: 22px;
    }

    .hero-image img {
        max-width: 260px;
    }

    /* ABOUT */
    .about {
        padding: 80px 8%;
    }

    .about-container {
        display: flex;
        flex-direction: column;

        text-align: center;
        gap: 40px;
    }

    .about-text h2 {
        font-size: clamp(40px, 6vw, 70px);
        width: 100%;
    }

    .about-text p {
        max-width: 100%;
        font-size: 22px;
    }

    .about-img {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-img img {
        width: 100%;
        max-width: 260px;
        height: auto;

        position: relative;
        z-index: 2;
    }

    .circle-bg {
        width: 320px;
        height: 320px;

        position: absolute;

        left: 50%;
        top: 50%;

        transform: translate(-45%, -50%);

        z-index: 1;
    }

    /* TITULOS */
    .section-title {
        font-size: clamp(32px, 5vw, 60px);
        text-align: center;
    }

    /* SUBTITLE */
    .subtitle {
        max-width: 100%;
        font-size: 22px;
    }

    /* BOTÕES */
    .btn-hq,
    .btn-saiba-mais {
        width: auto;
        max-width: 250px;
        height: auto;

        font-size: 20px;
        padding: 12px 20px;
    }
}



/* ===== CELULARES ===== */
@media (max-width: 768px) {

    /* LOGO */
    .logo img {
        height: 30px;
    }

    /* NAVBAR */
    .custom-navbar {
        flex-direction: column;
        height: auto;

        padding: 20px;
        gap: 15px;

        border-radius: 20px;
    }

    .nav-links {
        flex-direction: column;
        gap: 12px;

        align-items: center;
    }

    .nav-links a {
        font-size: 20px;
    }

    .nav-icons {
        justify-content: center;
    }

    /* HERO */
    .hero {
        display: flex;
        flex-direction: column;

        text-align: center;
        gap: 35px;

        padding: 50px 5%;
    }

    .hero-content h1 {
        font-size: clamp(30px, 10vw, 50px);
    }

    .hero-content p {
        width: 100%;
        font-size: 18px;
    }

    .hero-image img {
        max-width: 220px;
    }

    /* ABOUT */
    .about {
        padding: 60px 5%;
    }

    .about-container {
        display: flex;
        flex-direction: column;

        text-align: center;
        gap: 40px;
    }

    .about-text h2 {
        font-size: clamp(28px, 8vw, 50px);
    }

    .about-text p {
        width: 100%;
        font-size: 18px;
    }

    .about-img {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-img img {
        width: 100%;
        max-width: 220px;
        height: auto;

        position: relative;
        z-index: 2;
    }

    .circle-bg {
        width: 240px;
        height: 240px;

        position: absolute;

        left: 50%;
        top: 50%;

        transform: translate(-45%, -50%);

        z-index: 1;
    }

    /* TITULOS */
    .section-title {
        font-size: 26px;
        text-align: center;
    }

    /* SUBTITLE */
    .subtitle {
        width: 100%;
        font-size: 16px;
    }

    /* CARDS */
    .news-card h5 {
        font-size: 18px;
        text-align: center;
    }

    /* BOTÕES */
    .btn-hq {
        width: 100%;
        max-width: 200px;

        height: auto;
        font-size: 18px;

        padding: 10px;
    }

    .btn-saiba-mais {
        width: 100%;
        max-width: 220px;

        height: auto;
        font-size: 18px;
    }
}



/* ===== CELULARES PEQUENOS ===== */
@media (max-width: 480px) {

    .hero-content h1 {
        font-size: 26px;
    }

    .hero-content p {
        font-size: 14px;
    }

    .hero-image img {
        max-width: 180px;
    }

    .btn-saiba-mais {
        font-size: 16px;
        padding: 8px 16px;
    }

    .about-text h2 {
        font-size: 24px;
    }

    .about-text p {
        font-size: 14px;
    }

    .about-img img {
        width: 100%;
        max-width: 180px;
    }

    .circle-bg {
        width: 200px;
        height: 200px;

        position: absolute;

        left: 50%;
        top: 50%;

        transform: translate(-45%, -50%);

        z-index: 1;
    }

    .section-title {
        font-size: 22px;
    }

    .subtitle {
        font-size: 14px;
    }
}